[submodule "libs/terraphast"]
	path = libs/terraphast
	url = https://github.com/amkozlov/terraphast-one
[submodule "libs/pll-modules-cognate"]
	path = libs/pll-modules-cognate
	url = https://github.com/luisevonderwiese/pll-modules-cognate.git
